html
{ height: 100%;}

*
{ margin: 0;
  padding: 0;}

 
body
{ font: normal 80% Arial, Helvetica, sans-serif;
  background-image: url(../bilder/gray4.jpg);
  background-repeat: repeat;
}

p
{ padding: 0 0 10px 0;
  color: #1D1D1D;
  line-height: 1.7em;
  font-size: 100% }

img
{ border: 0;}

/*---Main-class-formatting text----*/

h1, h2, h3, h4, h5, h6
{ font: normal 175% Arial,Helvetica, sans-serif;
  color: #1D1D1D;
  letter-spacing: -0.8px;
  margin: 0 0 1px 0;}

h2
{ font: normal 165% Arial,Helvetica, sans-serif;
  margin: 0 0 10px 0;}

h3
{ font: normal 130% Arial,Helvetica, sans-serif;
  margin: 0 0 10px 0;}

h4
{
  font: normal 100% Arial, Helvetica, sans-serif;
  color: #FFF;
  line-height: 1.5em;
  margin: 0 0 10px 0;}

h5, h6
{ font: normal 110% Arial, Helvetica, sans-serif;
  letter-spacing: -0.5px;
 }

 /*-----hover-effects----*/
 
a, a:hover
{ color: #1D1D1D;
  background: transparent;
  outline: none;
  text-decoration: none;}

a:hover
{ text-decoration: underline;}

ul
{ margin: 2px 0 22px 30px;
  line-height: 1.7em;
  font-style: normal;
  font-size: 100%;}

ol
{ margin: 8px 0 22px 20px;}

ol li
{ margin: 0 0 11px 0;}

/*-----Main class for content-boxes----*/

#main, #header, #banner, #menubar, #site_content, #footer, #content_grey
{ margin-left: auto;
  margin-right: auto;}

#main
{ background: transparent;}

/*---header and welcome-slogan--*/

#header
{ width: 920px;
  height: 75px;
  background: transparent;}

#banner
{ width: 920px;
  position: relative;
  height: 20px;
  padding: 20px 0 0 0;
  background: transparent;}
  
#Willkommen
{ width: 920px;
  float: right;
  height: 10px;
  margin: 0 auto;
  padding-right: 30px;
  background: transparent;}
  
/*Menubar-and-effects--*/

#menubar
{ width: 990px;
  height: 50px;
  text-align: center;
  margin: 0 auto;
  background: -ms-linear-gradient(#535353, #1d1d1d);
  background: -moz-linear-gradient(#535353, #1d1d1d);
  background: -o-linear-gradient(#535353, #1d1d1d);
  background: -webkit-linear-gradient(#535353, #1d1d1d);
  border-radius: 15px 15px 15px 15px;
  -moz-border-radius: 15px 15px 15px 15px;
  -webkit-border: 15px 15px 15px 15px;
  -webkit-box-shadow: rgba(0, 0, 0, 1) 5px 2px 10px;
  -moz-box-shadow: rgba(0, 0, 0, 1) 5px 2px 10px;
  box-shadow: rgba(0, 0, 0, 1) 5px 2px 10px;
  }
  
ul#menu
{ margin:0;}

ul#menu li
{ padding: 0 0 0 0px;
  list-style: none;
  margin: 2px 0 0 0;
  display: inline;
  background: transparent;}

ul#menu li a
{ float: left;
  font: bold 120% Arial, Helvetica, sans-serif;
  height: 24px;
  margin: 10px 0 0 20px;
  text-shadow: 0px -1px 0px #000;
  padding: 6px 20px 0 20px;
  background: transparent;
  border-radius: 70px 7px 70px 7px;
  -moz-border-radius: 7px 7px 7px 7px;
  -webkit-border: 7px 7px 7px 7px;
  text-align: center;
  color: #FFF;
  text-decoration: none;}
  
ul#menu li.current a
{ color: #1D1D1D;
  background: #FFF;
  background: -moz-linear-gradient(#fff, #ccc);
  background: -o-linear-gradient(#fff, #ccc);
  background: -webkit-linear-gradient(#fff, #ccc);
  text-shadow: none;}
  
ul#menu li:hover a
{ color: #1D1D1D;
  background: #FFF;
  background: -moz-linear-gradient(#fff, #ccc);
  background: -o-linear-gradient(#fff, #ccc);
  background: -webkit-linear-gradient(#fff, #ccc);
  text-shadow: none;}
  
/*----Side content----*/ 

#site_content
{ width: 990px;
  height: auto;
  overflow: visible; 
  margin: auto;}
  
  /*-----Definition-Sidebar and Sidebar-items---*/
.sidebar_container
{ float: left;
  margin: 10px 20px 0 0;
  width: 215px;
  padding: 0;}

.sidebar
{ float: left;
  width: 250px;
  padding: 0;
  margin-top: 1px;
  margin-bottom: 10px;}

.sidebar_item
{ font: normal 100% Arial, Helvetica, sans-serif;
  width: 245px;}

.sidebar h2
{ padding: 5px 0 0 10px;
  font: normal 140% Arial, Helvetica, sans-serif;
  height: 30px;
  text-shadow: 0px -1px 0px #000;
  color: #fff;
  background: -ms-linear-gradient(#535353, #1d1d1d);
  background: -moz-linear-gradient(#535353, #1d1d1d);
  background: -o-linear-gradient(#535353, #1d1d1d);
  background: -webkit-linear-gradient(#535353, #1d1d1d);
  border-radius: 15px 15px 15px 15px;
  -moz-border-radius: 15px 15px 15px 15px;
  -webkit-border: 15px 15px 15px 15px;
  -webkit-box-shadow: rgba(0, 0, 0, 1) 5px 2px 10px;
  -moz-box-shadow: rgba(0, 0, 0, 1) 5px 2px 10px;
  box-shadow: rgba(0, 0, 0, 1) 5px 2px 10px;}

  /*-------Content boxes----*/
#content
{ width: 700px;
  height:auto;
  margin-bottom: 20px;
  float: left;
  padding-left: 30px;}

.content_item
{ width: 720px;
  margin-top: 20px;
  margin-bottom: 20px;}
  
.content_image
{ float: right;
  width: 320px;
  height: 238px;
  margin: 0 50px 0px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 1) 0px 0px 5px;
  -moz-box-shadow: rgba(0, 0, 0, 1) 0px 0px 5px;
  box-shadow: rgba(0, 0, 0, 1) 5px 5px 10px;}

  
.content_container
{ width: 300px;
  padding: 5px;
  margin-right: 10px;
  float: left;}

/*---formatting input types----*/  
 input[type=text],textarea,[type=submit],[type=button] {
	width:130px;
    border: 1px solid white; 
    padding: 3px;
    background: rgba(255,255,255,0.5);
    margin: 0 0 0px 0;
}

textarea {
width: 50px;
max-width: 500px;
height: 50px;
max-height: 200px; 
}

[type=submit]{
border: 1px solid #535353;
margin: 10px 0px 2px 30px;

}

[type=button]{
width:88px;
cursor:pointer;
}

/*---Footer---*/
#footer
{ width: 920px;
  height: 20px;
  padding-top: 2px;
  text-align: center;
  background: transparent;
  text-shadow: 1px 1px #fff;
  color: #535353;}

#footer a, #footer a:hover
{ color: #535353;
  text-decoration: none;
  padding-bottom: 20px;}

#footer a:hover
{ text-decoration: underline;}

#footer a, #footer a:hover
{ color: #535353;
  text-decoration: none;}

#footer a:hover
{ text-decoration: underline;}

/*----delete-Button----*/
 .delete
{ font: bold 65% Arial, Helvetica, sans-serif;
  cursor: pointer;
  height: 10px;
  bottom: 32px;
  float: right;
  right: 15px;
  width: auto;  
  position: relative;
  padding: 5px 5px 5px 5px;
  background: -ms-linear-gradient(#fff, #ccc);
  background: -moz-linear-gradient(#fff, #ccc);
  background: -o-linear-gradient(#fff, #ccc);
  background: -webkit-linear-gradient(#fff, #ccc);
  border-radius: 15px 15px 15px 15px;
  -moz-border-radius: 15px 15px 15px 15px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 0px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 1px;}
  
 .delete a
{ color: #1D1D1D;}
 
 /*--small-Button....*/
 
 .button_small
{ font: normal 110% Arial, Helvetica, sans-serif;
  height: auto;
  width: 250px;
  padding: 5px 2px 5px 2px;
  background: -ms-linear-gradient(#535353, #1d1d1d);
  background: -moz-linear-gradient(#535353, #1d1d1d);
  background: -o-linear-gradient(#535353, #1d1d1d);
  background: -webkit-linear-gradient(#535353, #1d1d1d);
  border-radius: 15px 15px 15px 15px;
  -moz-border-radius: 15px 15px 15px 15px;
  -webkit-border: 15px 15px 15px 15px;
  -webkit-box-shadow: rgba(0, 0, 0, 1) 5px 2px 10px;
  -moz-box-shadow: rgba(0, 0, 0, 1) 5px 2px 10px;
  box-shadow: rgba(0, 0, 0, 1) 5px 2px 10px;}
  
.button_small a
{ color: #FFF;
  padding-left: 5px;}

/*---formatting-text-and-boxes---*/
.form_settings
{ margin: 15px 0 0 0;}

.form_settings p
{ padding: 0 0 4px 0;}

.form_settings span
{ float: left;
  width: 280px;
  text-align: left;}

.form_settings .submit
{ font: 100% arial;
  border: 1px solid;
  width: 99px;
  margin: 0 0 0 206px;
  height: 26px;
  padding: 2px 0 3px 0;
  cursor: pointer;
  background: #5082BD;
  color: #FFF;}

/*-----Map----*/
#map {
float:left;
width: 710px; 
height: 420px;
top: 20px;
margin-left: 30px;
-webkit-box-shadow: rgba(0, 0, 0, 1) 5px 0px 10px;
-moz-box-shadow: rgba(0, 0, 0, 1) 5px 0px 10px;
box-shadow: rgba(0, 0, 0, 1) 5px 0px 10px;  
}


}
.tabelle{
font-size:small;
}

/*--------Accordion---Horizontal-----*/
    
.accordion{
    width:720px;
	position:relative;
    overflow:hidden;
    list-style:none;
    text-shadow:1px 1px 1px rgba(0,0,0,0.25);
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius:10px;
}
.accordion li{
    float:left;
    width:20%;
    overflow:hidden;
    height:250px;
    -moz-transition:width 0.2s ease-out;
    -webkit-transition:width 0.2s ease-out;
    transition:width 0.2s ease-out;
    -moz-transition-delay:0.15s;
    -webkit-transition-delay:0.15s;
    transition-delay:0.15s;
}
.accordion li:first-of-type{
    -moz-border-radius:10px 0 0 10px;
    -webkit-border-radius:10px 0 0 10px;
    border-radius:10px 0 0 10px;
}
.accordion li:last-of-type{
    -moz-border-radius:0 10px 10px 0;
    -webkit-border-radius:0 10px 10px 0;
    border-radius:0 10px 10px 0;
}
.accordion div{
    padding:0px;
}
.accordion:hover li{
    width:10%;
}
.accordion li:hover{
    width:60%;
}
/*------------ Single-Help-Slide 1 ------------------*/
.slider1  {
}


/*-----Accordion----VERTICAL----------------*/
    
#vertical{
    height:600px;
	overflow:hidden;
	
}
#vertical li{
    float:none;
    height:6%;
    width:100%;
    -moz-transition:height .5s ease-out;
    -webkit-transition:height .5s ease-out;
    -o-transition:height .5s ease-out;
    transition:height .5s ease-out;
}
#vertical li:first-of-type{
    -moz-border-radius:10px 10px 0 0;
    -webkit-border-radius:10px 10px 0 0;
    border-radius:10px 10px 10px 10px;
}
#vertical li:last-of-type{
    -moz-border-radius:0 0 10px 10px;
    -webkit-border-radius:0 0 10px 10px;
    border-radius:10px 10px 10px 10px;
}
#vertical:hover li{
    height:6%;
    width:100%;
}
#vertical li:hover{
    height:40%;
    width:100%;
}

/*------------ Single-Help-Slide 2 ------------------*/
.slider2
{ font: normal 125% Arial, Helvetica, sans-serif;
  width: 685px;
  padding: 5px 5px 5px 5px;
  background: -ms-linear-gradient(#535353, #1d1d1d);
  background: -moz-linear-gradient(#535353, #1d1d1d);
  background: -o-linear-gradient(#535353, #1d1d1d);
  background: -webkit-linear-gradient(#535353, #1d1d1d);
  border-radius: 15px 15px 15px 15px;
  -moz-border-radius: 15px 15px 15px 15px;
  -webkit-box-shadow: rgba(0, 0, 0, 1) 5px 0px 5px;
  -moz-box-shadow: rgba(0, 0, 0, 1) 5px 0px 5px;
  box-shadow: rgba(0, 0, 0, 1) 5px 0px 5px;}
  
/*------------------------ Tooltip-------------------------- */
  
  .tooltip {
			border-bottom: 1px dotted #000000; color: #000000; outline: none;
			cursor: help; text-decoration: none;
			position: relative;
		}
		.tooltip span {
			margin-left: -999em;
			position: absolute;
		}
		.tooltip:hover span {
			border-radius: 5px 5px; 
			-moz-border-radius: 5px; 
			-webkit-border-radius: 5px; 
			box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5); 
			-webkit-box-shadow: 5px 5px rgba(0, 0, 0, 0.5); 
			-moz-box-shadow: 5px 5px rgba(0, 0, 0, 0.5);
			font-family: Calibri, Tahoma, Geneva, sans-serif;
			position: absolute; left: 1em; bottom: 1em; z-index: 99;
			margin-left: 0; width: 200px;
		}

		.classic { padding: 0.8em 0.5em; }
		* html a:hover { background: transparent; }
		.classic {background: #FFF; border: 1px solid #000000; }
  
  /*---------Diagram-------------*/
  
#diagram{
background-color:white;
position:absolute;
width: 710px; 
height: 420px;
left:455px;
top:145px;
-webkit-box-shadow: rgba(0, 0, 0, 1) 5px 0px 10px;
-moz-box-shadow: rgba(0, 0, 0, 1) 5px 0px 10px;
box-shadow: rgba(0, 0, 0, 1) 5px 0px 10px;}


