html
{ height: 100%;}

*
{ margin: 0;
  padding: 0;}

body
{ font: normal 80% Arial, Helvetica, sans-serif;
  background-image: url(../bilder/gray4.jpg);
  background-repeat: repeat;
  background-size: 100% 100%;
}

p
{ padding: 0 0 10px 0;
  color: #1D1D1D;
  line-height: 1.7em;
  font-size: 100% }

img
{ border: 0;}

h1, h2, h3, h4, h5, h6
{ font: normal 175% Arial,Helvetica, sans-serif;
  color: #1D1D1D;
  letter-spacing: -0.8px;
  margin: 0 0 1px 0;}

h2
{ font: normal 165% Arial,Helvetica, sans-serif;
  margin: 0 0 10px 0;}

h3
{ font: normal 130% Arial,Helvetica, sans-serif;
  margin: 0 0 10px 0;}

h4
{
  font: normal 100% Arial, Helvetica, sans-serif;
  color: #FFF;
  line-height: 1.5em;
  margin: 0 0 10px 0;}

h5, h6
{ font: normal 110% Arial, Helvetica, sans-serif;
  letter-spacing: -0.5px;
 }

a, a:hover
{ color: #1D1D1D;
  background: transparent;
  outline: none;
  text-decoration: none;}

a:hover
{ text-decoration: underline;}

ul
{ margin: 2px 0 22px 30px;
  line-height: 1.7em;
  font-style: normal;
  font-size: 100%;}

ol
{ margin: 8px 0 22px 20px;}

ol li
{ margin: 0 0 11px 0;}

#main, #header, #banner, #menubar, #site_content, #footer, #content_grey
{ margin-left: auto;
  margin-right: auto;}

#main
{ background: transparent;}
  
#header
{ width: 920px;
  height: 75px;
  background: transparent;}

#banner
{ width: 920px;
  position: relative;
  height: 20px;
  padding: 20px 0 0 0;
  background: transparent;}

#menubar
{ width: 990px;
  height: 50px;
  text-align: center;
  margin: 0 auto;
  background: #1D1D1D;
  background: -moz-linear-gradient(#535353, #1d1d1d);
  background: -o-linear-gradient(#535353, #1d1d1d);
  background: -webkit-linear-gradient(#535353, #1d1d1d);
  border-radius: 15px 15px 15px 15px;
  -moz-border-radius: 15px 15px 15px 15px;
  -webkit-border: 15px 15px 15px 15px;
  -webkit-box-shadow: rgba(0, 0, 0, 1) 5px 0px 5px;
  -moz-box-shadow: rgba(0, 0, 0, 1) 5px 0px 5px;
  box-shadow: rgba(0, 0, 0, 1) 5px 0px 5px;
  }
  
#Willkommen
{ width: 920px;
  float: right;
  height: 10px;
  margin: 0 auto;
  padding-right: 30px;
  background: transparent;}
  
#welcome_slogan
{ width: 880px;
  float: left;
  height: 50px;
  margin: 0 auto;
  padding-left: 0px;
  background: transparent;}
   
#welcome H1
{ font: normal 300% Arial, Helvetica, sans-serif;
  letter-spacing: -3px;
  text-shadow: 1px 1px #fff;
  color: #1D1D1D;}

#welcome_slogan H1
{ font: normal 200% Arial, Helvetica, sans-serif;
  letter-spacing: -2px;
  text-shadow: 1px 1px #fff;
  color: #535353;}
  
ul#menu
{ margin:0;}

ul#menu li
{ padding: 0 0 0 0px;
  list-style: none;
  margin: 2px 0 0 0;
  display: inline;
  background: transparent;}

ul#menu li a
{ float: left;
  font: bold 120% Arial, Helvetica, sans-serif;
  height: 24px;
  margin: 10px 0 0 20px;
  text-shadow: 0px -1px 0px #000;
  padding: 6px 20px 0 20px;
  background: transparent;
  border-radius: 70px 7px 70px 7px;
  -moz-border-radius: 7px 7px 7px 7px;
  -webkit-border: 7px 7px 7px 7px;
  text-align: center;
  color: #FFF;
  text-decoration: none;}
  
ul#menu li.current a
{ color: #1D1D1D;
  background: #FFF;
  background: -moz-linear-gradient(#fff, #ccc);
  background: -o-linear-gradient(#fff, #ccc);
  background: -webkit-linear-gradient(#fff, #ccc);
  text-shadow: none;}
  
ul#menu li:hover a
{ color: #1D1D1D;
  background: #FFF;
  background: -moz-linear-gradient(#fff, #ccc);
  background: -o-linear-gradient(#fff, #ccc);
  background: -webkit-linear-gradient(#fff, #ccc);
  text-shadow: none;}

#site_content
{ width: 990px;
  height: auto;
  overflow: visible; 
  margin: auto;}

.sidebar_container
{ float: left;
  margin: 10px 20px 0 0;
  width: 215px;
  padding: 0;}

.sidebar
{ float: left;
  width: 250px;
  padding: 0;
  margin-top: 1px;
  margin-bottom: 10px;}

.sidebar_item
{ font: normal 100% Arial, Helvetica, sans-serif;
  width: 245px;}

.sidebar h2
{ padding: 5px 0 0 10px;
  font: normal 140% Arial, Helvetica, sans-serif;
  height: 30px;
  text-shadow: 0px -1px 0px #000;
  color: #fff;
  background: #1D1D1D;
  background: -moz-linear-gradient(#535353, #1d1d1d);
  background: -o-linear-gradient(#535353, #1d1d1d);
  background: -webkit-linear-gradient(#535353, #1d1d1d);
  border-radius: 15px 15px 15px 15px;
  -moz-border-radius: 15px 15px 15px 15px;
  -webkit-border: 15px 15px 15px 15px;
  -webkit-box-shadow: rgba(0, 0, 0, 1) 5px 0px 5px;
  -moz-box-shadow: rgba(0, 0, 0, 1) 5px 0px 5px;
  box-shadow: rgba(0, 0, 0, 1) 5px 0px 5px;}

#content
{ width: auto;
  height:auto;
  margin-bottom: 20px;
  float: left;
  padding-left: 30px;}

.content_item
{ width: 720px;
  margin-top: 20px;
  margin-bottom: 20px;}
  
.content_image
{ float: left;
  width: 150px;
  height: 150px;
  margin: 0 20px 10px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px;}
  
.content_container
{ width: 320px;
  padding: 5px;
  margin-right: 10px;
  float: left;}
  
#content_grey
 { width: 920px;
  height: 160px;
  text-align: center;
  background: #1D1D1D;
  background: -moz-linear-gradient(#535353, #1d1d1d);
  background: -o-linear-gradient(#535353, #1d1d1d);
  background: -webkit-linear-gradient(#535353, #1d1d1d);
  border-radius: 15px 15px 15px 15px;
  -moz-border-radius: 15px 15px 15px 15px;
  -webkit-border: 15px 15px 15px 15px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px;}
  
#content_grey p
 { color: #FFF;}

#content_grey h4
{ text-shadow: none;}
  
.content_grey_container_box
{ width: 270px;
  padding: 5px;
  text-align: center;
  margin: 20px 10px 10px 10px;
  float: left;}

.content_grey_container_boxl
{ width: 270px;
  padding: 5px;
  text-align: center;
  margin: 20px 0 10px 10px;
  float: left;}
  
 input[type=text],textarea,[type=submit] {
	 width:150px;
     border: 1px solid white; 
    -webkit-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    -moz-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1);
    padding: 3px;
    background: rgba(255,255,255,0.5);
    margin: 0 0 0px 0;
}

textarea {
width: 50px;
max-width: 500px;
height: 50px;
max-height: 200px; 
}

[type=submit]{
border: 1px solid #535353;
margin: 10px 0px 2px 30px;

}

  
#footer
{ width: 920px;
  height: 20px;
  padding-top: 2px;
  text-align: center;
  background: transparent;
  text-shadow: 1px 1px #fff;
  color: #535353;}

#footer a, #footer a:hover
{ color: #535353;
  text-decoration: none;
  padding-bottom: 20px;}

#footer a:hover
{ text-decoration: underline;}

#footer a, #footer a:hover
{ color: #535353;
  text-decoration: none;}

#footer a:hover
{ text-decoration: underline;}

.visualize
{ font: bold 80% Arial, Helvetica, sans-serif;
  height: 30px;
  width: auto; 
  float:right;
  position: relative;
  padding: 5px 2px 7px 2px;
  background: #1D1D1D;
  background: -moz-linear-gradient(#1D1D1D, #535353);
  background: -o-linear-gradient(#1D1D1D, #535353);
  background: -webkit-linear-gradient(#1D1D1D, #535353);
  border-radius: 15px 15px 15px 15px;
  -moz-border-radius: 15px 15px 15px 15px;
  -webkit-border: 15px 15px 15px 15px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 0px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 0px;}
  
 .delete
{ font: bold 65% Arial, Helvetica, sans-serif;
  height: 10px;
  bottom:20px;
  right: 40px;
  width: auto; 
  float:right;
  position: relative;
  padding: 5px 5px 5px 5px;
  background: #fff;
  background: -moz-linear-gradient(#fff, #ccc);
  background: -o-linear-gradient(#fff, #ccc);
  background: -webkit-linear-gradient(#fff, #ccc);
  border-radius: 15px 15px 15px 15px;
  -moz-border-radius: 15px 15px 15px 15px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 0px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 1px;}
  
  
  
 .delete a
{ color: #1D1D1D;}
 
 .button_small
{ font: normal 110% Arial, Helvetica, sans-serif;
  height: auto;
  width: 50px;
  padding: 5px 2px 7px 2px;
  background: #1D1D1D;
  background: -moz-linear-gradient(#535353, #1d1d1d);
  background: -o-linear-gradient(#535353, #1d1d1d);
  background: -webkit-linear-gradient(#535353, #1d1d1d);
  border-radius: 15px 15px 15px 15px;
  -moz-border-radius: 15px 15px 15px 15px;
  -webkit-border: 15px 15px 15px 15px;
  -webkit-box-shadow: rgba(0, 0, 0, 1) 5px 0px 5px;
  -moz-box-shadow: rgba(0, 0, 0, 1) 5px 0px 5px;
  box-shadow: rgba(0, 0, 0, 1) 5px 0px 5px;}
  
.button_small a
{ color: #FFF;
  padding-left: 5px;}

.form_settings
{ margin: 15px 0 0 0;}

.form_settings p
{ padding: 0 0 4px 0;}

.form_settings span
{ float: left;
  width: 280px;
  text-align: left;}
  
.form_settings input, .form_settings textarea
{ padding: 2px;
  width: 299px;
  font: 100% arial;
  border: 1px solid #E5E5DB;
  background: #FFF;
  color: #47433F;}
  
.form_settings input[type="checkbox"]
{ padding: 2px 0;
  width: 15px;
  font: 100% arial;
  border: 0;
  background: #FFF;
  color: #47433F;
  margin: 28px 0;}

.form_settings .submit
{ font: 100% arial;
  border: 1px solid;
  width: 99px;
  margin: 0 0 0 206px;
  height: 26px;
  padding: 2px 0 3px 0;
  cursor: pointer;
  background: #5082BD;
  color: #FFF;}

/* styling for the slideshow on the homepage */
ul.slideshow {
  list-style: none;
  width: 710px;
  height: 250px;
  overflow: hidden;
  position: relative;
  margin: 0;
  margin-top: 20px;
  -webkit-box-shadow: rgba(0, 0, 0, 1) 5px 0px 10px;
  -moz-box-shadow: rgba(0, 0, 0, 1) 5px 0px 10px;
  box-shadow: rgba(0, 0, 0, 1) 5px 0px 10px;}
  
ul.slideshow li {
  position: absolute;
  margin: 0;
  padding: 0;
  left: 0;
  right: 0;}
 
ul.slideshow li.show {
  z-index: 500;}
 
ul img {
  border: none;}
 
#slideshow-caption {
  width: 710px;
  height: 38px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 500;}
 
#slideshow-caption .slideshow-caption-container {
  padding: 10px 25px 10px 25px;
  background: transparent url(../bilder/transparent.png) repeat;
  z-index: 1000;}
 
#slideshow-caption p {
  padding: 0;
  font: normal 130% arial, sans-serif;
  color: #FFF;}

#map {
float:left;
width: 710px; 
height: 420px;
top: 20px;
margin-left: 30px;
-webkit-box-shadow: rgba(0, 0, 0, 1) 5px 0px 10px;
-moz-box-shadow: rgba(0, 0, 0, 1) 5px 0px 10px;
box-shadow: rgba(0, 0, 0, 1) 5px 0px 10px;  
}

#Hintergrund{
background-image:url(Hintergrund.png);

}
#header1{
   font-size: 300%;
   text-align:center;	
   text-decoration: underline;
   font-family:Forte;
   color:black;
}
#Startseite{background-color: ; font-family:arial; color:red;position:fixed; right:1%; bottom:2%;}

#Hilfeseite{background-color: ; font-family:arial; color:red;position:fixed; right:7%; bottom:2%;}

#Impressum{font-family:arial; color:red;position:fixed;position:absolute; left:1%;bottom:1% }

#tabelle{background-color: ;}

#kartenlink{background-color: black; font-family:arial; color:red;position:fixed; right:7%; bottom:2%;}

#linien{position: absolute; top:40%; left:27%;}

#saeulen{position: absolute; top:103%; left:27%;}

#Auswahlfelder{
position:absolute; top:50%; right:71%;
background-color: ;
}

#official_values{

position:absolute; top:80%; left:16%;


}
.tabelle{
font-size:small;
}

/*------------Accordion-----------------*/
    
.accordion{
    width:720px;
	position:relative;
    overflow:hidden;
    list-style:none;
    text-shadow:1px 1px 1px rgba(0,0,0,0.25);
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius:10px;
}
.accordion li{
    float:left;
    width:20%;
    overflow:hidden;
    height:250px;
    -moz-transition:width 0.2s ease-out;
    -webkit-transition:width 0.2s ease-out;
    transition:width 0.2s ease-out;
    -moz-transition-delay:0.15s;
    -webkit-transition-delay:0.15s;
    transition-delay:0.15s;
}
.accordion li:first-of-type{
    -moz-border-radius:10px 0 0 10px;
    -webkit-border-radius:10px 0 0 10px;
    border-radius:10px 0 0 10px;
}
.accordion li:last-of-type{
    -moz-border-radius:0 10px 10px 0;
    -webkit-border-radius:0 10px 10px 0;
    border-radius:0 10px 10px 0;
}
.accordion div{
    padding:0px;
}
.accordion:hover li{
    width:10%;
}
.accordion li:hover{
    width:60%;
}
.slide-01  { 
}


/*--------------VERTICAL----------------*/
    
#vertical{
    height:400px;
}
#vertical li{
    float:none;
    height:9%;
    width:100%;
    -moz-transition:height 0.5s ease-out;
    -webkit-transition:height 0.5s ease-out;
    -o-transition:height 0.5s ease-out;
    transition:height 0.5s ease-out;
}
#vertical li:first-of-type{
    -moz-border-radius:10px 10px 0 0;
    -webkit-border-radius:10px 10px 0 0;
    border-radius:10px 10px 10px 10px;
}
#vertical li:last-of-type{
    -moz-border-radius:0 0 10px 10px;
    -webkit-border-radius:0 0 10px 10px;
    border-radius:10px 10px 10px 10px;
}
#vertical:hover li{
    height:9%;
    width:100%;
}
#vertical li:hover{
    height:30%;
    width:100%;
}

/* Help-Slide */
.slider
{ font: normal 125% Arial, Helvetica, sans-serif;
  height: auto;
  width: 685px;
  padding: 5px 5px 5px 5px;
  background: #1D1D1D;
  background: -moz-linear-gradient(#535353, #1d1d1d);
  background: -o-linear-gradient(#535353, #1d1d1d);
  background: -webkit-linear-gradient(#535353, #1d1d1d);
  border-radius: 15px 15px 15px 15px;
  -moz-border-radius: 15px 15px 15px 15px;
  -webkit-box-shadow: rgba(0, 0, 0, 1) 5px 0px 5px;
  -moz-box-shadow: rgba(0, 0, 0, 1) 5px 0px 5px;
  box-shadow: rgba(0, 0, 0, 1) 5px 0px 5px;}
  
  /* Tooltip */
  
  .tooltip {
			border-bottom: 1px dotted #000000; color: #000000; outline: none;
			cursor: help; text-decoration: none;
			position: relative;
		}
		.tooltip span {
			margin-left: -999em;
			position: absolute;
		}
		.tooltip:hover span {
			border-radius: 5px 5px; 
			-moz-border-radius: 5px; 
			-webkit-border-radius: 5px; 
			box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5); 
			-webkit-box-shadow: 5px 5px rgba(0, 0, 0, 0.5); 
			-moz-box-shadow: 5px 5px rgba(0, 0, 0, 0.5);
			font-family: Calibri, Tahoma, Geneva, sans-serif;
			position: absolute; left: 1em; bottom: 1em; z-index: 99;
			margin-left: 0; width: 200px;
		}
		/*.tooltip:hover img {
			border: 0; margin: -10px 0 0 -55px;
			float: left; position: absolute;
		}*/
		/*.tooltip:hover em {
			font-family: Candara, Tahoma, Geneva, sans-serif; font-size: 1.2em; font-weight: bold;
			display: block; padding: 0.2em 0 0.6em 0;
		}*/
		.classic { padding: 0.8em 0.5em; }
		* html a:hover { background: transparent; }
		.classic {background: #FFF; border: 1px solid #000000; }
  